@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    width: 100vw;
    height: 100vh;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(20, 20, 20);
    color: rgb(220, 220, 220);
    margin: 0;
    width: 100%;
    height: 100%;
}

h1, h2 {
    margin: 0.5rem
}

th, td {
    outline: 1px solid rgb(0, 0, 0);
    border-spacing: 0;
    padding: 0;
}

th {
    background-color: rgb(50, 50, 50);
    padding: 0.5rem;
}

td {
    background-color: rgb(30, 30, 30);
}

thead th {
    padding-left: 4rem;
    padding-right: 4rem;
}

table {
    width: max-content;
    text-align: center;
    border-spacing: 0;
}

.period-block {
    margin: 0.25rem;
    padding: 0.25rem;
    border-radius: 0.5rem;
}