@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(30, 30, 30);
    color: rgb(220, 220, 220);
}

table, th, td, div {
    border: 1px solid rgb(220, 220, 220);
}

