@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    width: 100vw;
    height: 100vh;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #151d28;
    color: #c3ccc9;
    margin: 0;
    width: 100%;
    height: 100%;
}

h1, h2 {
    margin: 0.5rem
}

th, td {
    outline: 1px solid #111522;
    border-spacing: 0;
    padding: 0;
}

th {
    background-color: #202e37;
    padding: 0.5rem;
}

td {
    background-color: #394a50;
    padding: 0.25rem;
}

thead th {
    padding-left: 4rem;
    padding-right: 4rem;
}

table {
    width: max-content;
    text-align: center;
    border-spacing: 0;
    font-size: 1.5rem;
}

.period-block {
    margin: 0.25rem;
    padding: 0.5rem;
    border-radius: 0.75rem;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
}